<div class="banner" style="background-image:url(/assets/pokemon-banner.jpeg);">
  <div class="container">
    <div class="row">
    </div>
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-gradient" href="#">Create your pokemon now</a>
  </div>
</div>