<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/pokemon-banner.jpeg);">
  <div class="container">
    <p>
      <span id="banner-typed-text"></span>
    </p>
    <a class="btn btn-gradient" href="#">Create your pokemon now</a>
  </div>
</div>