

<div class="container">
  <div class="row">
    <% @pokemons.each do |pokemon| %>
      <div class="col-3">
        <div class="card-trip">
          <%= link_to pokemon_path(pokemon) do %>
            <% if pokemon.photo.attached? %>
              <%= cl_image_tag pokemon.photo.key, height: 300, width: 400, crop: :fill, class: 'card-img-top' %>
            <% end %>
            <div class="card-trip-infos">
              <h2><%= pokemon.name %></h2>
              <h2 class="card-trip-pricing"> <%= pokemon.price %></h2>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
